<footer class="py-5 px-lg-5">
    <div class="container">
      <div class="row gy-4 justify-content-between">
        <div class="col-auto">
          <p class="mb-0">
            Designed by <a href="#" class="fw-bold">SA7MAN</a>
          </p>
        </div>
        <div class="col-auto">
          <div class="social-icons">
            <a href="#"><i class="lab la-twitter"></i></a>
            <a href="#"><i class="lab la-instagram"></i></a>
            <a href="#"><i class="lab la-dribbble"></i></a>
            <a href="#"><i class="lab la-github"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>